{{- if .Values.grpcui.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-grpcui
  labels:
    app: {{ .Release.Name }}
  annotations:
    konghq.com/strip-path: "true"
spec:
  ingressClassName: kong
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /grpcui/payment
            pathType: Prefix
            backend:
              service:
                name: {{ .Release.Name }}
                port:
                  number: 8080
{{- end }}
