apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    app: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: 80
      targetPort: 8000
      protocol: TCP
    - name: grpc
      port: 50051
      targetPort: 50051
      protocol: TCP
    {{- if .Values.grpcui.enabled }}
    - name: grpcui
      port: 8080
      targetPort: 8080
      protocol: TCP
    {{- end }}
  selector:
    app: {{ .Release.Name }}